# Pandas Cheatsheet

## Import Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Basic

### Series

In [2]:
s = pd.Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Series From List

In [3]:
data_list = [1,2,3,4,5]
s = pd.Series(data_list)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Series with Custom Index/Label

In [4]:
index_custom = ['a','b','c']
data_list = [1,2,3]
s = pd.Series(data=data_list, index=index_custom)
s

a    1
b    2
c    3
dtype: int64

### Series From Dictionary

In [5]:
data_dict = {
    'a': 10,
    'b': 20,
    'c': 30
}
s = pd.Series(data=data_dict)
s

a    10
b    20
c    30
dtype: int64

### Series with Different Data Type

In [6]:
mixed_data = [1,'dua',3.0,4.5,'lima']
s = pd.Series(data=mixed_data)
s

0       1
1     dua
2     3.0
3     4.5
4    lima
dtype: object

### DataFrame

In [7]:
df = pd.DataFrame({
    'nama': ['Orang 1', 'Orang 2', 'Orang 3'],
    'usia': [23, 50, 35],
    'kota': ['Jakarta','Bandung','Depok']
})
df

      nama  usia     kota
0  Orang 1    23  Jakarta
1  Orang 2    50  Bandung
2  Orang 3    35    Depok

### DataFrame from List

In [8]:
list_of_list = [
    [1,'Orang 1', 20],
    [2, 'Orang 2', 30],
    [3, 'Orang 3', 40]
]
columns = ['id','nama','usia']

df = pd.DataFrame(data=list_of_list, columns=columns)
df

   id     nama  usia
0   1  Orang 1    20
1   2  Orang 2    30
2   3  Orang 3    40

### DataFrame from Dictionary

In [9]:
data_dict = {
    'id': [1,2,3],
    'nama': ['Orang 1', 'Orang 2', 'Orang 3'],
    'usia': [15,20,30]
}

df = pd.DataFrame(data = data_dict)
df

   id     nama  usia
0   1  Orang 1    15
1   2  Orang 2    20
2   3  Orang 3    30

### Merge Series into DataFrame

In [10]:
s1 = pd.Series([1,2,3], name='id')
s2 = pd.Series(['Orang 1', 'Orang 2', 'Orang 3'], name='nama')
s3 = pd.Series([15,20,30], name='usia')

## .T (Transponse) dibutuhkan untuk mengubah baris menjadi kolom
df = pd.DataFrame([s1,s2,s3]).T
df

  id     nama usia
0  1  Orang 1   15
1  2  Orang 2   20
2  3  Orang 3   30

### Getting Basic Information from DataFrame

In [11]:
data = {
    'A': np.random.randint(1, 100, 20),
    'B': np.random.randint(1, 100, 20),
    'C': np.random.randint(1, 100, 20),
    'D': np.random.randint(1, 100, 20)
}
df = pd.DataFrame(data=data)
df.head()

    A   B   C   D
0  69  18  53  98
1  96  27  73  52
2  59  41  18  16
3  44  53  11  91
4  12  57  75  51

In [12]:
df.tail()

     A   B   C   D
15  60  32  72  39
16  44  96  80  40
17  67  49  65  55
18  92   4  15  43
19  51  13  37  81

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       20 non-null     int64
 1   B       20 non-null     int64
 2   C       20 non-null     int64
 3   D       20 non-null     int64
dtypes: int64(4)
memory usage: 768.0 bytes

In [14]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   57.200000  46.100000  52.000000  50.800000
std    26.810446  30.214845  25.739587  27.000195
min    12.000000   4.000000  11.000000   6.000000
25%    39.250000  24.750000  30.500000  38.750000
50%    56.000000  40.500000  59.000000  51.500000
75%    79.250000  62.500000  73.500000  60.250000
max    96.000000  96.000000  88.000000  98.000000

### Identifyng Missing Data

In [15]:
data_missing = {
    'A': [1,2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1,2,3,4, np.nan]
}
df = pd.DataFrame(data=data_missing)
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  4.0
4  5.0  5.0  NaN

In [16]:
missing_data_count = df.isna().sum()
missing_data_count

A    1
B    1
C    1
dtype: int64

### Checking Data Distribution

In [17]:
ser_categorical = pd.Series(['apple','banana','apple','orange','banana','apple',
                            'apple','orange'])
value_counts = ser_categorical.value_counts()
type(value_counts) ## Series
value_counts

apple     4
banana    2
orange    2
Name: count, dtype: int64

### Checking Unique Values

In [20]:
data_sample = {
    'A': np.random.randint(1, 100, 3),
    'B': np.random.random(3),
    'C': ['apple','banana','cherry'],
    'D': pd.date_range("20230101", periods=3)
}
df = pd.DataFrame(data=data_sample)
data_types = df.dtypes
data_types

A             int64
B           float64
C            object
D    datetime64[ns]
dtype: object

In [18]:
unique_count = ser_categorical.nunique()
unique_count

3

In [19]:
unique_values = ser_categorical.unique().tolist()
unique_values

['apple', 'banana', 'orange']

### Checking Data Types

### Checking DataFrame Size

In [21]:
df_shape = df.shape
df_shape ## (3,4) 3 baris 4 kolom

(3, 4)

### Checking Columns and Index

In [22]:
df_columns = df.columns
df_index = df.index

df_columns, df_index

(Index(['A', 'B', 'C', 'D'], dtype='object'),
 RangeIndex(start=0, stop=3, step=1))

### Checking Memory Usage

In [23]:
memory_usage = df.memory_usage()
memory_usage

Index    128
A         24
B         24
C         24
D         24
dtype: int64

## Accessing Data

### Accessing Data in Series

In [24]:
s = pd.Series([10,20,30,40,50], index = ['a','b','c','d','e'])

# Mengakses element dengan index possisi
ele_pos = s[4]

# Mengakses element dengan index label
ele_label = s['c']

ele_pos, ele_label

/tmp/ipykernel_36/147560710.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ele_pos = s[4]

(50, 30)

### Accessing Data in DataFrame

In [27]:
data_example = {
    'A': [1,2,3,4,5],
    'B': ['apple','banana','cherry','date','fig'],
    'C': [1.1, 2.2, 3.3, 4.4, 5.5]
}
df = pd.DataFrame(data=data_example)

column_A = df['A']
column_B = df['B']

column_A.head(), column_B.head()

(0    1
 1    2
 2    3
 3    4
 4    5
 Name: A, dtype: int64,
 0     apple
 1    banana
 2    cherry
 3      date
 4       fig
 Name: B, dtype: object)

### Access Data in DataFrame using iloc and loc

In [28]:
row_by_idx_position = df.iloc[2]
row_by_label = df.loc[2]

row_by_idx_position, row_by_label

(A         3
 B    cherry
 C       3.3
 Name: 2, dtype: object,
 A         3
 B    cherry
 C       3.3
 Name: 2, dtype: object)

### Accessing Data in DataFrame by Subset

In [31]:
df

   A       B    C
0  1   apple  1.1
1  2  banana  2.2
2  3  cherry  3.3
3  4    date  4.4
4  5     fig  5.5

In [33]:
subset_position = df.iloc[1:4, 0:2]
subset_position

   A       B
1  2  banana
2  3  cherry
3  4    date

In [36]:
subset_label = df.loc[1:3, ['A','B']]
subset_label

   A       B
1  2  banana
2  3  cherry
3  4    date

### Accessing Data in DataFrame using at and iat

In [46]:
data_at = df.at[2, 'B']
data_at

'cherry'

In [47]:
data_iat = df.iat[2, 1]
data_iat

'cherry'

### Creating Multi index DataFrame

In [51]:
arrays = [
    ['A','A','B','B'],
    [1,2,1,2]
]
multi_index = pd.MultiIndex.from_arrays(arrays, names=('letters', 'numbers'))
data_multi = {
    'data1': [10,20,30,40],
    'data2': [100,200,300,400]
}
df = pd.DataFrame(data_multi, index=multi_index)
df

                 data1  data2
letters numbers
A       1           10    100
        2           20    200
B       1           30    300
        2           40    400

In [59]:
rows_with_A = df.xs(key='A', level='letters')
rows_with_A

         data1  data2
numbers
1           10    100
2           20    200

In [60]:
df_query = df.query('data1 > 15 & data2 < 350')
df_query

                 data1  data2
letters numbers
A       2           20    200
B       1           30    300

In [62]:
data_example = {
    'A': [1,2,3,4,5],
    'B': ['apple','banana','cherry','date','fig'],
    'C': [1.1, 2.2, 3.3, 4.4, 5.5]
}
df = pd.DataFrame(data=data_example)

taken_rows = df.take([1,3])
taken_rows

   A       B    C
1  2  banana  2.2
3  4    date  4.4

In [74]:
data = {
    'A': [i for i in range(1, 11)],
    'B': [chr(i) for i in range(65, 75)],
    'C': [i * 0.5 for i in range(1, 11)]
}
df = pd.DataFrame(data=data)
df

    A  B    C
0   1  A  0.5
1   2  B  1.0
2   3  C  1.5
3   4  D  2.0
4   5  E  2.5
5   6  F  3.0
6   7  G  3.5
7   8  H  4.0
8   9  I  4.5
9  10  J  5.0

In [75]:
subset_iloc = df.iloc[1:5, 0:2]
subset_iloc

   A  B
1  2  B
2  3  C
3  4  D
4  5  E

In [78]:
subset_loc = df.loc[1:4, ['A','B']]
subset_loc

   A  B
1  2  B
2  3  C
3  4  D
4  5  E

In [81]:
rows_greater_than_5 = df[df['A'] > 5]
rows_greater_than_5

    A  B    C
5   6  F  3.0
6   7  G  3.5
7   8  H  4.0
8   9  I  4.5
9  10  J  5.0

## Filtering Data

In [44]:
filtered_rows = df[df['A'] > 3]
filtered_rows

   A     B    C
3  4  date  4.4
4  5   fig  5.5

In [45]:
multiple_conditions = df[(df['A'] > 3) & (df['C'] < 5)]
multiple_conditions

   A     B    C
3  4  date  4.4

In [82]:
rows_selected_value = df[df['B'].isin(['A','C','E'])]
rows_selected_value

   A  B    C
0  1  A  0.5
2  3  C  1.5
4  5  E  2.5

In [89]:
date_range = pd.date_range(start='2020-01-01', end='2020-01-10', freq='D')
df_date = pd.DataFrame(date_range, columns=['date'])
df_date['data'] = np.random.randint(0, 100, size=len(date_range))
df_date = df_date.set_index('date')

subset_date = df_date['2020-01-03':'2020-01-07']
subset_date

            data
date
2020-01-03    42
2020-01-04    17
2020-01-05    85
2020-01-06    15
2020-01-07    31

In [93]:
subset_where = df_date['data'].where(df_date['data'] > 15)
subset_where

date
2020-01-01    52.0
2020-01-02     NaN
2020-01-03    42.0
2020-01-04    17.0
2020-01-05    85.0
2020-01-06     NaN
2020-01-07    31.0
2020-01-08    53.0
2020-01-09    50.0
2020-01-10    75.0
Name: data, dtype: float64

## Basic Operation

### Add New Column

In [63]:
data_example = {
    'A': [1,2,3,4,5],
    'B': ['apple','banana','cherry','date','fig'],
    'C': [1.1, 2.2, 3.3, 4.4, 5.5]
}
df = pd.DataFrame(data=data_example)

df['D'] = df['A'] * 10
df['E'] = 'new_column'
df.head()

   A       B    C   D           E
0  1   apple  1.1  10  new_column
1  2  banana  2.2  20  new_column
2  3  cherry  3.3  30  new_column
3  4    date  4.4  40  new_column
4  5     fig  5.5  50  new_column

### Deleting Column and Row

In [64]:
df_example_dropped_col = df.drop(columns=['E'])
df_example_dropped_col

   A       B    C   D
0  1   apple  1.1  10
1  2  banana  2.2  20
2  3  cherry  3.3  30
3  4    date  4.4  40
4  5     fig  5.5  50

In [65]:
df_example_dropped_row = df.drop(index = 4)
df_example_dropped_row

   A       B    C   D           E
0  1   apple  1.1  10  new_column
1  2  banana  2.2  20  new_column
2  3  cherry  3.3  30  new_column
3  4    date  4.4  40  new_column

## Applying Change to Data

In [66]:
df['B_Upper'] = df['B'].apply(lambda x: x.upper())
df[['B_Upper','B']]

  B_Upper       B
0   APPLE   apple
1  BANANA  banana
2  CHERRY  cherry
3    DATE    date
4     FIG     fig

### Replacing a Value

In [71]:
df_replaced = df.replace({
    'B': {
        'apple': 'grape',
        'banana': 'watermelon'
    }
})
df_replaced

   A           B    C   D           E B_Upper
0  1       grape  1.1  10  new_column   APPLE
1  2  watermelon  2.2  20  new_column  BANANA
2  3      cherry  3.3  30  new_column  CHERRY
3  4        date  4.4  40  new_column    DATE
4  5         fig  5.5  50  new_column     FIG

### Rename a Column

In [72]:
df_renamed = df.rename(columns={
    'A': 'X',
    'B': 'Y'
})
df_renamed

   X       Y    C   D           E B_Upper
0  1   apple  1.1  10  new_column   APPLE
1  2  banana  2.2  20  new_column  BANANA
2  3  cherry  3.3  30  new_column  CHERRY
3  4    date  4.4  40  new_column    DATE
4  5     fig  5.5  50  new_column     FIG

## Resetting and Setting Index

In [67]:
df_set_index = df.set_index('B')
df_set_index

        A    C   D           E B_Upper
B
apple   1  1.1  10  new_column   APPLE
banana  2  2.2  20  new_column  BANANA
cherry  3  3.3  30  new_column  CHERRY
date    4  4.4  40  new_column    DATE
fig     5  5.5  50  new_column     FIG

In [69]:
df_reset_index = df_set_index.reset_index()
df_reset_index

        B  A    C   D           E B_Upper
0   apple  1  1.1  10  new_column   APPLE
1  banana  2  2.2  20  new_column  BANANA
2  cherry  3  3.3  30  new_column  CHERRY
3    date  4  4.4  40  new_column    DATE
4     fig  5  5.5  50  new_column     FIG

In [83]:
data = {
    'A': [i for i in range(1, 11)],
    'B': [chr(i) for i in range(65, 75)],
    'C': [i * 0.5 for i in range(1, 11)]
}
df = pd.DataFrame(data=data)
df

new_index = list(range(0,12))
reindex_df = df.reindex(new_index)
reindex_df

       A    B    C
0    1.0    A  0.5
1    2.0    B  1.0
2    3.0    C  1.5
3    4.0    D  2.0
4    5.0    E  2.5
5    6.0    F  3.0
6    7.0    G  3.5
7    8.0    H  4.0
8    9.0    I  4.5
9   10.0    J  5.0
10   NaN  NaN  NaN
11   NaN  NaN  NaN